body{
    background-color: green;}

#focim{
    color:white;
    text-align: center;
}

p{
    color: black;
}
img{
    float: left;
    width: 34%;
    height: auto;

}
table, td{
    border: black solid 1px;
    border-collapse: collapse;
}
table{
    /*float: none;*/
    clear: both;
    background-color: white;
}

#elso{
    background-image: url("smiley2.png");
    background-size: contain;
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: center center;
}

ul>li{
    list-style-image: url(smiley2.png);
    list-style-position: inside;
}


ol>li{
    list-style-type: none;
    list-style: none;
}
#szoveg{
    background-color: white;
}

#nagybetu{
    font-variant: small-caps;
    font-size: 130%;
}
#nagybetu{
    text-transform: uppercase;
}

#nagybetu{
    text-transform: capitalize;
}









